@using Microsoft.AspNetCore.Components.Web
@namespace BigBang1112.WorldRecordReport.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="~/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="~/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:site_name" content="World Record Report" />
    <meta property="og:title" content="World Record Report" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" href="BigBang1112.WorldRecordReport.styles.css">
    <link rel="stylesheet" href="_content/BigBang1112.Essentials.Razor/BigBang1112.Essentials.Razor.bundle.scp.css" />
    <link rel="stylesheet" href="_content/BigBang1112.Essentials.Razor/BigBang1112.Essentials.Razor.bundle.scp.css" />
    <!--<link rel="stylesheet" href="_content/BigBang1112.Essentials.Razor/css/general.css" />-->
    <link rel="stylesheet" href="_content/BigBang1112.Essentials.Razor/css/basestyle.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

    <title>World Record Report - BigBang1112.cz</title>

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="components-reconnect-modal">
        <div class="reconnect-modal section">
            <h1>Connection lost<span id="wait">.</span></h1>
            <p>
                No official maintenance
                <button class="button" style="display: inline-block; width: 10rem; margin-left: 1rem" onclick="window.Blazor.reconnect()" disabled>
                    Reload
                </button>
            </p>
        </div>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BigBang1112.Essentials.Razor/js/wait.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
</body>
</html>
