@page "/"

<div style="margin: 1rem">
    <h2>Welcome and thank you so much for visiting</h2>

    <p>This site is very much under a development, bear with me. If you want to create or modify webhooks, first log in, then check out <a href="webhooks">Webhooks</a> section.</p>
</div>

@code {
    
}
