@page "/login"

<ul>
	<li><a href="login/maniaplanet" class="button button-flex button-mp" style="height: 4rem">
		<img class="icon" src="_content/BigBang1112.Essentials.Razor/img/mp_small.png" />
		Login with ManiaPlanet
	</a></li>
	<li><a href="login/trackmania" class="button button-flex button-tm2020" style="height: 4rem">
		<img class="icon" src="_content/BigBang1112.Essentials.Razor/img/tm_small.png" />
		Login with Trackmania
	</a></li>
	<li><a href="login/discord" class="button button-flex button-discord" style="height: 4rem">
		<img class="icon" src="_content/BigBang1112.Essentials.Razor/img/discord_small.png" />
		Login with Discord
	</a></li>
	<li><a href="login/github" class="button button-flex button-github" style="height: 4rem">
		<img class="icon" src="_content/BigBang1112.Essentials.Razor/img/github_small.png" />
		Login with GitHub
	</a></li>
	<li><a href="login/twitter" class="button button-flex button-twitter" style="height: 4rem">
		<img class="icon" src="_content/BigBang1112.Essentials.Razor/img/twitter_small.png" />
		Login with Twitter
	</a></li>
</ul>