@page "/tmwr/privacy"

<div style="margin: 0.5rem 1rem">
    <h1>TMWR - Privacy Policy (28. 1. 2023)</h1>
    <ol style="margin-left: 1rem">
        <li>
            This privacy policy applies to the TMWR, a Discord bot that retrieves data from the Trackmania leaderboards and reports world records and Top 10 leaderboard changes to users in a Discord server.
        </li>
        <li>
            The bot collects the following data:
            <ul style="list-style: disc; margin-left: 2rem">
                <li>User information from Discord, including but not limited to username, discriminator, unique ID, date of their first interaction, date of their last interaction, total amount of interactions, and messages of users mentioning the bot, not including direct messages.</li>
                <li>Server information from Discord where the bot joined, including but not limited to server name and unique ID.</li>
                <li>Channel information from Discord where the server administrator enabled the reports, including but not limited to channel name and unique ID.</li>
                <li>Information about the requested Trackmania world records from a public API, including but not limited to the player nickname, unique identifier, time, and a ghost file.</li>
                <li>Any map file updates from the current Trackmania 2020 season campaign.</li>
            </ul>
        </li>
        <li>
            The data collected by the bot is used solely for the purpose of providing the requested Trackmania world record information to users in the Discord server.
        </li>
        <li>
            The bot does not share or sell any data collected to third parties.
        </li>
        <li>
            The bot stores the data collected in a secure manner.
        </li>
        <li>
            Users have the right to request deletion of their data by contacting the <a href="https://bigbang1112.cz">bot's creator</a>, if it’s not a subject of the Trackmania leaderboard data that is being retrieved from a publically available API.
        </li>
        <li>
            This privacy policy is subject to change at any time, without notice. Your continued use of the bot after any changes to this policy constitutes your acceptance of the new policy.
        </li>
        <li>
            By using the bot, you are also acknowledging to have read and accepted our <a href="/tmwr/terms">Terms of Service</a>.
        </li>
        <li>
            If you have any questions or concerns about this privacy policy, please contact the <a href="https://bigbang1112.cz">bot's creator</a>.
        </li>
    </ol>
</div>

@code {

}
