@page "/tmwr"

<a href="https://discord.com/api/oauth2/authorize?client_id=901286952421195857&permissions=0&scope=bot%20applications.commands" class="button">
    <h1 style="text-transform: none">Invite TMWR bot to your Discord server</h1>
</a>

<p style="margin-top: 1rem">TMWR is the ultimate Trackmania world record Discord bot.</p>

@code {

}
