@inherits LayoutComponentBase
@inject IHttpContextAccessor _httpContextAccessor

<div class="page">
    <main>
        <div class="section">
            <span role="alert">@Body</span>
        </div>
    </main>
</div>
