@inject IHttpContextAccessor _httpContextAccessor

<div style="margin: 1rem">
    <h1 style="font-size: 5rem; margin-top: -1.5rem; margin-bottom: -1rem;">@Value</h1>
    <p>@Message</p>
</div>

@code {
    [Parameter]
    public int Value { get; set; }
    
    [Parameter]
    public string? Message { get; set; }

    protected override void OnInitialized()
    {
        var context = _httpContextAccessor.HttpContext;

        if (context is not null && !context.Response.HasStarted)
        {
            context.Response.StatusCode = Value;
        }
    }
}
